:root {
	--6px   : 0.3125vw;
	--10px  : 0.5208vw;
	--12px  : 0.625vw;
	--15px  : 0.78125vw;
	--16px  : 0.8333vw;
	--18px  : 0.9375vw;
	--20px  : 1.0417vw;
	--24px  : 1.25vw;
	--28px  : 1.4583vw;
	--30px  : 1.5625vw;
	--32px  : 1.6667vw;
	--40px  : 2.0833333vw;
	--42px  : 2.1875vw;
	--45px  : 2.34375vw;
	--49px  : 2.5521vw;
	--50px  : 2.6042vw;
	--58px  : 3.0208vw;
	--60px  : 3.125vw;
	--68px  : 3.5417vw;
	--72px  : 3.75vw;
	--80px  : 4.1667vw;
	--100px : 5.2083vw;
	--102px : 5.3125vw;
	--120px : 6.25vw;
	--135px : 7.03125vw;
	--140px : 7.2917vw;
	--143px : 7.4479vw;
	--160px : 8.3333vw;
	--181px : 9.375vw;
	--200px : 10.4167vw;
	--240px : 12.5vw;
	--262px : 13.6458vw;
	--320px : 16.6667vw;
	--340px : 17.7083vw;
	--378px : 19.6875vw;
	--415px : 21.8229vw;
	--420px : 21.875vw;
	--510px : 26.5625vw;
	--520px : 27.0833vw;
	--530px : 27.6042vw;
	--640px : 33.3333vw;
	--660px : 34.375vw;
	--695px : 36.3542vw;
	--798px : 41.6875vw;
}

body * {
	/*border      : 1px solid red;*/
	box-sizing  : border-box;
	font-family : Pretendard, serif;
}

.blind {
	/* 레이아웃에 영향을 끼치지 않도록 */
	position : absolute;

	/* 스크린 리더가 읽을 수 있도록 */
	width    : 1px;
	height   : 1px;

	/* 눈에 보이는 부분을 제거 */
	clip     : rect(0 0 0 0);
	margin   : -1px;
	overflow : hidden;
}

button {
	color            : #FFFFFF;
	background-color : #D97652;
}

body {
	display        : flex;
	flex-direction : column;
	font-size      : 0.2083333vw;
	/*font-size      : calc(4px * (100vw / 1920)); 1920px에서 4px 기준 */
}

header {
	height          : var(--102px);
	background      : #F2E9D8;
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	padding         : 0 var(--320px);

	h1 {
		font-size   : 10em;
		font-weight : 900;
	}

	nav {
		display : flex;

		ul {
			display : flex;

			li {
				margin        : 0 var(--15px);
				align-content : center;

				a {
					font-size   : 4em;
					font-weight : 400;
					line-height : 125%;
				}
			}
		}

		button {
			width         : var(--140px);
			height        : var(--50px);
			border-radius : var(--40px);
			text-align    : center;
			font-size     : 4em;
			font-weight   : 700;
			line-height   : 125%;
			margin-left   : var(--49px);
		}
	}
}

main {
	position : relative;

	.section-top {
		height          : var(--798px);
		padding         : var(--200px) var(--320px) var(--262px);
		display         : flex;
		flex-direction  : column;
		justify-content : space-between;
		background      : #F2E9D8 url("/assets/cat/cat1.png") no-repeat calc(100% - var(--320px)) var(--32px);
		background-size : var(--415px) auto;

		h2 {
			width       : var(--695px);
			font-size   : 12em;
			font-weight : 700;
			line-height : 125%;
		}

		span {
			width       : var(--420px);
			font-size   : 4em;
			font-weight : 400;
			line-height : 125%;
		}

		button {
			width         : var(--140px);
			height        : var(--50px);
			border-radius : var(--40px);
			text-align    : center;
			font-size     : 4em;
			font-weight   : 700;
		}
	}

	.section-sub {
		display         : flex;
		flex-direction  : row;
		margin-top      : var(--80px);
		padding         : 0 var(--320px);
		justify-content : space-between;
		align-items     : center;

		img {
			width         : var(--660px);
			height        : auto;
			border-radius : var(--30px);
			box-shadow    : var(--10px) var(--10px) var(--30px) 0 rgba(0, 0, 0, 0.25);
		}

		section {
			width       : var(--510px);
			align-items : center;

			h3 {
				margin-bottom : var(--30px);
				font-size     : 9em;
				font-weight   : 700;
				line-height   : 125%;
			}

			span {
				font-size   : 4em;
				font-weight : 400;
				line-height : 125%;
			}
		}
	}

	.section-gallery {
		display        : flex;
		flex-direction : column;
		margin-top     : var(--120px);
		padding        : 0 var(--320px);
		align-items    : center;

		h2 {
			color       : #D97652;
			font-size   : 12em;
			font-weight : 700;
			line-height : 125%;
		}

		span {
			margin-top  : var(--40px);
			font-size   : 4em;
			font-weight : 400;
			line-height : 125%;
			text-align  : center;

			span {
				font-size : inherit;
				color     : #D97652;
			}
		}

		#gallery-images {
			display         : flex;
			flex-direction  : row;
			justify-content : space-between;
			row-gap         : var(--72px);
			flex-wrap       : wrap;
			margin-top      : var(--40px);
			overflow        : visible;

			img {
				width         : var(--378px);
				height        : auto;
				border-radius : var(--30px);
				box-shadow    : var(--10px) var(--10px) var(--30px) 0 rgba(0, 0, 0, 0.25);
			}
		}

		#gallery-continue {
			margin-top : var(--100px);
			text-align : center;

			h3 {
				font-size   : 6em;
				font-weight : 700;
				line-height : 125%;
			}

			button {
				width         : var(--143px);
				height        : var(--50px);
				margin-top    : var(--28px);
				border-radius : var(--40px);
				font-size     : 4em;
				font-weight   : 700;
				line-height   : 125%;
			}
		}
	}

	hr {
		margin     : var(--80px) var(--320px) var(--68px);
		height     : 1px;
		background : #C4C4C4;
	}

	.section-map {
		display        : flex;
		flex-direction : column;
		padding        : 0 var(--320px);

		h2 {
			font-size   : 9em;
			font-weight : 700;
			line-height : 125%;
		}

		span {
			margin-top  : var(--20px);
			font-size   : 4em;
			font-weight : 500;
			line-height : 125%;
			color       : #606367;
		}

		#map {
			width         : 100%;
			height        : var(--520px);
			margin-top    : var(--45px);
			border        : 1px solid black;
			border-radius : var(--12px);
		}
	}

	.section-background {
		margin-top : var(--181px);

		img {
			width      : 100%;
			height     : var(--340px);
			object-fit : cover;
		}
	}

	.section-subscribe {
		width            : calc(100% - var(--640px));
		height           : var(--200px);
		position         : absolute;
		bottom           : var(--240px);
		left             : 50%;
		transform        : translateX(-50%);
		background-color : #263140;
		color            : #FFFFFF;
		display          : flex;
		border-radius    : var(--30px);
		align-items      : center;
		justify-content  : space-between;
		padding          : 0 var(--58px);

		section {
			display         : flex;
			flex-direction  : column;
			justify-content : center;
			gap             : var(--18px);

			h3 {
				font-size   : 9em;
				font-weight : 700;
				line-height : 125%;
			}

			span {
				font-size   : 3.5em;
				font-weight : 400;
				line-height : 125%
			}
		}

		#form-subscribe {
			width            : var(--530px);
			height           : var(--60px);
			border-radius    : var(--60px);
			background-color : #FFFFFF;
			padding-left     : var(--28px);
			padding-right    : var(--6px);

			label {
				display         : flex;
				width           : auto;
				height          : 100%;
				justify-content : space-between;
				gap             : var(--16px);
				align-items     : center;

				img {
					width  : var(--24px);
					height : var(--24px);
				}

				input {
					height           : 100%;
					background-color : transparent;
					border           : none;
					flex             : 1;
					font-size        : 4em;
					line-height      : 125%;
					font-weight      : 400;

					&:focus {
						outline : none;
					}
				}

				button {
					width         : var(--135px);
					height        : var(--50px);
					border-radius : var(--40px);
					font-size     : 4em;
					line-height   : 125%;
					font-weight   : 700;
				}
			}
		}
	}
}

footer {
	height          : var(--160px);
	display         : flex;
	justify-content : space-between;
	align-items     : center;
	padding         : 0 var(--320px);

	h2 {
		font-size   : 17.5em;
		font-weight : 900;
	}

	ul {
		display : flex;

		li {
			margin : 0 var(--15px);

			a {
				display          : inline-block;
				width            : var(--42px);
				height           : var(--42px);
				border-radius    : 50%;
				background-color : #F29D52;
				align-content    : center;
				text-align       : center;

				img {
					width  : var(--24px);
					height : var(--24px);
				}
			}
		}
	}
}