:root {
	/* 390px width 기준*/
	/* ex) --4pc == 뷰포트 너비가 390px일때 4px이 차지하는 vw */
	--2mo      : 0.5128205vw;
	--4mo      : 1.025641vw;
	--10mo     : 2.5641026vw;
	--12mo     : 3.0769231vw;
	--14mo     : 3.5897436vw;
	--16mo     : 4.1025641vw;
	--18mo     : 4.6153846vw;
	--18-286mo : 4.6887179vw;
	--20mo     : 5.1282051vw;
	--22mo     : 5.6410256vw;
	--24mo     : 6.1538462vw;
	--28mo     : 7.1794872vw;
	--30mo     : 7.6923077vw;
	--32mo     : 8.2051282vw;
	--34mo     : 8.7179487vw;
	--36mo     : 9.2307692vw;
	--40mo     : 10.2564103vw;
	--50mo     : 12.8205128vw;
	--60mo     : 15.3846154vw;
	--62mo     : 15.8974359vw;
	--64mo     : 16.4102564vw;
	--66mo     : 16.9230769vw;
	--76mo     : 19.4871795vw;
	--92mo     : 23.5897436vw;
	--112mo    : 28.7179487vw;
	--114mo    : 29.2307692vw;
	--115mo    : 29.4871795vw;
	--126mo    : 32.3076923vw;
	--132mo    : 33.8461538vw;
	--143mo    : 36.6666667vw;
	--158mo    : 40.5128205vw;
	--172mo    : 44.1025641vw;
	--178mo    : 45.6410256vw;
	--187mo    : 47.9487179vw;
	--197mo    : 50.5128205vw;
	--240mo    : 61.5384615vw;
	--289mo    : 74.1025641vw;
	--320mo    : 82.0512821vw;
	--348mo    : 89.2307692vw;
	--358mo    : 91.7948718vw;
	--718mo    : 184.1025641vw;
}

@media (max-width : 768px) {
	body {
		font-size : var(--4mo);
	}

	button {
		border-radius : var(--40mo);
		font-size     : 3.5em;
	}

	header {
		height  : var(--76mo);
		padding : 0 var(--20mo);

		#img-h1-logo {
			width  : var(--92mo);
			height : var(--28mo);
		}

		#btn-menu-open {
			display       : block;
			width         : var(--32mo);
			height        : var(--32mo);
			border-radius : 0;
		}

		#header-nav {
			width            : var(--289mo);
			height           : 100%;
			position         : fixed;
			top              : 0;
			transform        : translateX(100vw);
			transition       : transform .6s cubic-bezier(0.25, 1, 0.5, 1);
			background-color : #263140;
			flex-direction   : column;
			z-index          : 10;

			&.active {
				transform  : translateX(calc(100vw - var(--289mo)));
				transition : transform .6s cubic-bezier(0.25, 1, 0.5, 1);
			}

			#btn-menu-close {
				display       : block;
				width         : var(--32mo);
				height        : var(--32mo);
				margin        : var(--22mo) 0 0 var(--20mo);
				border-radius : 0;
			}

			.nav-list {
				flex-direction : column;
				margin-top     : var(--66mo);

				li {
					margin : 0 var(--50mo) var(--30mo);

					a {
						color       : #FFFFFF;
						font-size   : 4em;
						font-weight : 700;
					}
				}
			}

			#btn-nav-download {
				width  : var(--114mo);
				height : var(--40mo);
				margin : var(--20mo) var(--40mo);
			}
		}
	}

	main {
		.section-top {
			height              : var(--718mo);
			padding             : var(--40mo) 0;
			justify-content     : start;
			background-position : 50% var(--358mo);
			background-size     : var(--197mo) auto;
			align-items         : center;
			text-align          : center;
			gap                 : var(--30mo);

			h2 {
				width     : auto;
				font-size : 6em;
			}

			span {
				width     : auto;
				font-size : 3.5em;
			}

			#btn-top-download {
				width  : var(--114mo);
				height : var(--40mo);
			}
		}

		.section-sub {
			flex-direction : column;
			padding        : var(--40mo) var(--32mo) 0;

			img {
				width         : 100%;
				margin-bottom : var(--40mo);
				border-radius : var(--18mo);
				box-shadow    : var(--10mo) var(--10mo) var(--20mo) 0 rgba(0, 0, 0, 0.25);
			}

			section {
				width : 100%;

				h3 {
					margin-bottom : var(--20mo);
					font-size     : 6em;
				}

				span {
					font-size : 3.5em;
				}
			}
		}

		.section-gallery {
			padding : var(--60mo) var(--32mo) 0;

			h2 {
				font-size : 6em;
			}

			span {
				margin-top : var(--30mo);
				font-size  : 4em;
			}

			.gallery-images {
				flex-direction : column;
				align-items    : center;
				gap            : var(--32mo);
				margin-top     : var(--40mo);

				img {
					width         : 100%;
					border-radius : var(--18mo);
					box-shadow    : var(--10mo) var(--10mo) var(--20mo) 0 rgba(0, 0, 0, 0.25);
				}
			}

			.gallery-continue {
				margin-top : var(--60mo);

				h3 {
					font-size : 4.5em;
				}

				#btn-gallery-continue {
					width      : var(--143mo);
					height     : var(--50mo);
					margin-top : var(--28mo);
					font-size  : 4em;
				}
			}
		}

		hr {
			margin     : var(--60mo) var(--32mo) var(--40mo);
			background : #C4C4C4;
		}

		.section-map {
			padding : 0 var(--32mo);

			h2 {
				font-size : 6em;
			}

			span {
				margin-top : var(--16mo);
				font-size  : 4em;
			}

			#map {
				height        : var(--132mo);
				margin-top    : var(--28mo);
				border-radius : var(--12mo);
			}
		}

		.section-background {
			margin-top : var(--320mo);

			img {
				height : var(--240mo);
			}
		}

		.section-subscribe {
			width           : calc(100% - var(--64mo));
			height          : var(--348mo);
			bottom          : var(--172mo);
			padding         : var(--36mo) var(--32mo);
			flex-direction  : column;
			border-radius   : var(--18mo);
			justify-content : start;

			section {
				h3 {
					width     : var(--187mo);
					font-size : 6em;
				}

				span {
					margin-top : var(--20mo);
					font-size  : 3.5em;
				}
			}

			#form-subscribe {
				width         : 100%;
				height        : var(--40mo);
				margin-top    : var(--30mo);
				padding       : 0 var(--16mo);
				border-radius : var(--60mo);
				position      : relative;

				label {
					gap         : var(--14mo);
					align-items : center;

					img {
						width  : var(--18mo);
						height : var(--18mo);
					}

					input {
						font-size : 3em;
					}
				}

				#btn-subscribe {
					width    : var(--115mo);
					height   : var(--40mo);
					position : absolute;
					right    : var(--2mo);
					top      : var(--60mo);
				}
			}

			.dialog-subscribe {
				width         : 300px;
				height        : 300px;
				padding-top   : var(--126mo);
				border-radius : var(--30mo);

				h3 {
					font-size : 6em;
				}

				img {
					width    : var(--60mo);
					height   : var(--62mo);
					position : absolute;
					top      : var(--40mo);
				}

				span {
					margin : var(--10mo) 0 var(--28mo);
				}

				#btn-submit-dialog {
					width  : var(--158mo);
					height : var(--40mo);
				}
			}
		}

		#btn-scroll-top {
			display : none;
		}
	}

	footer {
		height         : var(--178mo);
		position       : relative;
		flex-direction : column;
		align-items    : start;
		padding        : var(--30mo) var(--20mo) var(--24mo);


		#img-h2-logo {
			width  : var(--112mo);
			height : var(--34mo);
		}


		#footer-nav-external {
			ul {
				gap : var(--16mo);

				li {
					a {
						width  : var(--32mo);
						height : var(--32mo);

						img {
							width  : var(--18-286mo);
							height : var(--18-286mo);
						}
					}
				}
			}
		}

		#footer-nav-internal {
			display    : flex;
			position   : absolute;
			top        : var(--30mo);
			right      : var(--22mo);
			text-align : right;

			ul {
				flex-direction : column;
				gap            : var(--16mo);

				li {
					a {
						color       : #767676;
						font-size   : 3.5em;
						font-weight : 400;
					}
				}
			}
		}
	}
}
